<h2><strng>Listo HOME Handlebars</strng></h2>
<hr>
{{#each prodList}}
<div class="Product">
    <p>Producto : {{this.title}}</p>
    <p> Categoria : {{this.category}}</p>
    <p> Descripcion : {{this.description}}</p>
    <p> Precio : $ {{this.price}}</p>
    <p> Disponible : {{this.stock}} unidades</p>
    <hr>
</div>
{{/each}}
<script src="/js/home.js"></script>